<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.geny.health.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="cn.geny.health.po.Account">
    <!--@mbg.generated-->
    <!--@Table account-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DISPLAY_NAME" jdbcType="VARCHAR" property="displayName" />
    <result column="PWD" jdbcType="VARCHAR" property="pwd" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="CONTACT" jdbcType="VARCHAR" property="contact" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="ROLE" jdbcType="VARCHAR" property="role" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, `NAME`, DISPLAY_NAME, PWD, ICON, CONTACT, `STATUS`, `ROLE`
  </sql>
</mapper>