<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.geny.health.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="cn.geny.health.po.UserInfo">
    <!--@mbg.generated-->
    <!--@Table user_info-->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ID_CARD" jdbcType="VARCHAR" property="idCard" />
    <result column="BIRTH" jdbcType="DATE" property="birth" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
    <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_BY" jdbcType="VARCHAR" property="updateBy" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="CONTACT" jdbcType="VARCHAR" property="contact" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, `NAME`, ID_CARD, BIRTH, GENDER, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, 
    CONTACT
  </sql>
</mapper>